<?xml version="1.0"?>
<configuration>
  <!-- Define a custom section for VersionChecking                            -->
  <configSections>
    <section name="VersionChecker" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <!-- Section for defining values used for tracing and debugging.            -->
  <system.diagnostics>
    <switches>
      <add name="DataMessagesSwitch" value="0" />
      <add name="TraceLevelSwitch" value="0" />
    </switches>
  </system.diagnostics>
  <!-- Information pertaining to the version of the .NET framework to use     -->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <!-- Below is information to allow for VersionChecking prior to execution.  -->
  <!-- XML_Directory holds all the centralized version information and then   -->
  <!-- the AppName and Version allow for checking this particular app.        -->
  <VersionChecker>
    <add key="XML_Directory" value="http://digital.uflib.ufl.edu/development/versioning/versioningDB.xml" />
    <add key="AppName" value="SobekCM METS Editor" />
    <add key="Version" value="1.1.0" />
  </VersionChecker>
  <!--Any additional, application-specific setting go below here.             -->
  <appSettings>
    <add key="METS Save Location" value="C:\DLOC\METS" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="ClientRoleProvider">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>