<?xml version="1.0" encoding="UTF-8"?>

<!-- Never change the upgrade code, but change the product code with each new version -->
<?define UpgradeCode="{40FBAD8F-D4FE-42FF-B578-51F5950C8798}"?>
<?define ProductCode="{1B57E945-66DB-44A2-95CB-2D37D64EC6A0}"?>
<?define ProductVersion="1.1.0.0"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="$(var.ProductCode)" Name="SobekCM METS Editor" Language="1033" Version="$(var.ProductVersion)" Manufacturer="SobekCM" UpgradeCode="$(var.UpgradeCode)">
		<Package  Id="*"  Description="SobekCM METS Editor Installer" InstallerVersion="200" Compressed="yes" />

    <MajorUpgrade Schedule="afterInstallInitialize" DowngradeErrorMessage="A later version of [ProductName] is already installed. Setup will now exit." AllowDowngrades="no" />

    <Condition Message="You need to be an administrator to install this product.">Privileged</Condition>
    
		<Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />

		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder" Name="PFiles">
        <Directory Id="SobekCM" Name="SobekCM">
				  <Directory Id="INSTALLDIR" Name="SobekCM METS Editor">
            <Component Id="MainExecutable" Guid="F7BBE3A1-EE66-498C-B5D1-5D7F9C0D34A5">
              <File Id="SobekMetsEditorExe" Name="SobekCM_METS_Editor.exe" Source="$(var.MetaTemplate.TargetDir)\SobekCM_METS_Editor.exe" KeyPath="yes">
                <Shortcut Id="startMenuMetsIcon" Directory="ProgramMenuDir" Name="SobekCM METS Editor" WorkingDirectory='INSTALLDIR' Icon="App.ico" IconIndex="0" Advertise="yes" />
                <Shortcut Id="desktopMetsIcon" Directory="DesktopFolder" Name="SobekCM METS Editor" WorkingDirectory='INSTALLDIR' Icon="App.ico" IconIndex="0" Advertise="yes" />
              </File>            
					  </Component>
            <Component Id="MainExecutableConfig" Guid="BC0F843C-6B61-443F-99D6-81712F7F1736">
              <File Id="SobekMetsEditorExeConfig" Name="SobekCM_METS_Editor.exe.config" Source="$(var.MetaTemplate.TargetDir)\SobekCM_METS_Editor.exe.config" KeyPath="yes" />
            </Component>
            <Component Id="CustomGridHelperLibrary" Guid="78175B17-C88F-42A3-8C98-F1A30E301C91">
              <File Id="CustomGridDll" Name="Custom_Grid.dll" Source="$(var.MetaTemplate.TargetDir)\Custom_Grid.dll" KeyPath="yes" />
            </Component>
            <Component Id="DlcToolsHelperLibrary" Guid="2DC2F0BD-6F8D-4402-887E-996B75C21661">
              <File Id="DlcToolsDll" Name="DLC_Tools.dll" Source="$(var.MetaTemplate.TargetDir)\DLC_Tools.dll" KeyPath="yes" />
            </Component>
            <Component Id="SobekBibPackageHelperLibrary" Guid="504743E4-6448-4E1E-9934-A765BF012C45">
              <File Id="SobekBibPackageDll" Name="SobekCM_Resource_Object.dll" Source="$(var.MetaTemplate.TargetDir)\SobekCM_Resource_Object.dll" KeyPath="yes" />
            </Component>
            <Component Id="GemBoxSpreadsheetHelperLibrary" Guid="B61C1BD6-7871-4A40-A028-3F2FC7B6E322">
              <File Id="GemBoxSpreadsheetDll" Name="GemBox.Spreadsheet.dll" Source="Files\GemBox.Spreadsheet.dll" KeyPath="yes" />
            </Component>
            <Component Id="MicrosoftApplicationBlocksData" Guid="3D469AD6-7374-41DC-8679-F119A8AF5AB9">
              <File Id="MicrosoftApplicationBlocksDataDll" Name="Microsoft.ApplicationBlocks.Data.dll" Source="Files\Microsoft.ApplicationBlocks.Data.Dll" KeyPath="yes" />
            </Component>
            <Component Id="Z3950HelperLibraries" Guid="A98ED286-B7CF-4690-9EF3-7E0BF59857B5">
              <File Id="ZoomNetDll" Name="Zoom.Net.dll" Source="Files\Zoom.Net.dll" KeyPath="yes" />
              <File Id="ZoomNetYazSharpDll" Name="Zoom.Net.YazSharp.dll" Source="Files\Zoom.Net.YazSharp.dll" />
              <File Id="Zlib1Dll" Name="zlib1.dll" Source="Files\zlib1.dll" />
              <File Id="YazDll" Name="yaz.dll" Source="Files\yaz.dll" />
              <File Id="IConvDll" Name="iconv.dll" Source="Files\iconv.dll" />
              <File Id="LibXml2Dll" Name="libxml2.dll" Source="Files\libxml2.dll" />
              <File Id="LibXsltDll" Name="libxslt.dll" Source="Files\libxslt.dll" />
            </Component>
            <Component Id="SolrNetHelperLibraries" Guid="899246E2-6EF9-4337-9364-4E7CEDC6C236">
              <File Id="SolrNetDll" Name="SolrNet.dll" Source="Files\SolrNet.dll" KeyPath="yes" />
              <File Id="MicrosoftPracticesServiceLocDll" Name="Microsoft.Practices.ServiceLocation.dll" Source="Files\Microsoft.Practices.ServiceLocation.dll" />
            </Component>
            <Component Id="GplLicense" Guid="FED28BE1-30E8-4257-9F3F-AD3909BE0040">
              <File Id="LicenseTxt" Name="LICENSE.txt" Source="Files\LICENSE.txt" KeyPath="yes" />
            </Component>
            <Component Id="Readme" Guid="20EF67DD-659A-4A0A-9543-59D11FB558A5">
              <File Id="ReadmeTxt" Name="README.txt" Source="Files\README.txt" KeyPath="yes" />
            </Component>
            <Directory Id="AddOnsSubDir" Name="AddOns">
              <Component Id="AddOnsComponent" Guid="7EA85521-B7FE-474C-BB32-4D38151FFA82">
                <File Id="DarwinCoreXml" Name="DarwinCore.xml" Source="Files\AddOns\DarwinCore.xml" KeyPath="yes" />
                <File Id="EtdXml" Name="ETD.xml" Source="Files\AddOns\ETD.xml" />
                <File Id="FclaXml" Name="FCLA.xml" Source="Files\AddOns\FCLA.xml" />
                <File Id="SobekXml" Name="SobekCM.xml" Source="Files\AddOns\SobekCM.xml" />
                <File Id="VraCoreXml" Name="VRACore.xml" Source="Files\AddOns\VRACore.xml" />
              </Component>
            </Directory>
            <Directory Id="ConfigSubDir" Name="Config">
              <Component Id="ConfigComponent" Guid="481BAD1E-05FA-4765-843D-E19D3EB05429">
                <File Id="SobekCMMetadataConfig" Name="sobekcm_metadata.config" Source="Files\Config\sobekcm_metadata.config" KeyPath="yes" />
              </Component>
            </Directory>
            <Directory Id="DataSubDir" Name="Data">
              <Component Id="DataComponent" Guid="C67353E5-3C58-4041-9A60-8F608C57C347">
                <File Id="DivisionTypesErrorsXml" Name="Division_Types_Errors.xml" Source="Files\Data\Division_Types_Errors.xml" KeyPath="yes" />
              </Component>
            </Directory>
            <Directory Id="ImagesSubDir" Name="Images">
              <Component Id="ImagesComponent" Guid="5965496C-081A-4DBB-A188-8DFA5568B4F2">
                <File Id="MetsIcon" Name="mets.ico" Source="Files\Images\mets.ico" KeyPath="yes" />
                <File Id="PmetsIcon" Name="pmets.ico" Source="Files\Images\pmets.ico" />
              </Component>
            </Directory>
            <Directory Id="KakaduSubDir" Name="Kakadu">
              <Component Id="KakaduComponent" Guid="F6C9CE0F-759B-4DBD-A6A2-4ECE3B9E1389">
                <File Id="KduCompressExe" Name="kdu_compress.exe" Source="Files\Kakadu\kdu_compress.exe" KeyPath="yes" />
                <File Id="KduCompressLibTiffExe" Name="kdu_compress_libtiff.exe" Source="Files\Kakadu\kdu_compress_libtiff.exe" />
                <File Id="KduV60rDll" Name="kdu_v60R.dll" Source="Files\Kakadu\kdu_v60R.dll" />
              </Component>
            </Directory>
            <Directory Id="ProjectsSubDir" Name="Projects">
              <Component Id="ProjectsComponent" Guid="C4435650-A537-4C00-A3AF-E7E584FDA4BE">
                <File Id="DlocPmets" Name="DLOC.pmets" Source="Files\Projects\DLOC.pmets" KeyPath="yes" />
                <File Id="EsteroPmets" Name="ESTERO.pmets" Source="Files\Projects\ESTERO.pmets" />
                <File Id="SaniPmets" Name="SANI.pmets" Source="Files\Projects\SANI.pmets" />
                <File Id="SpohpPmetsl" Name="SPOHP.pmets" Source="Files\Projects\SPOHP.pmets" />
              </Component>
            </Directory>
            <Directory Id="TemplatesSubDir" Name="Templates">
              <Component Id="TemplatesComponent" Guid="38C14A52-D448-4A60-A5C1-E7791178CBB4">
                <File Id="CompleteXml" Name="Complete.xml" Source="Files\Templates\Complete.xml" KeyPath="yes" />
                <File Id="DublinCoreXml" Name="DublinCore.xml" Source="Files\Templates\DublinCore.xml" />
                <File Id="StandardXml" Name="Standard.xml" Source="Files\Templates\Standard.xml" />
              </Component>
            </Directory>
            <Directory Id="z3950SubDir" Name="z3950">
              <Component Id="Z3950LicensesComponent" Guid="41F99B6D-0EA9-4671-A5A3-ED0AC9D65FE3">
                <File Id="LicenseNoExt" Name="LICENSE" Source="Files\z3950\LICENSE" KeyPath="yes" />
                <File Id="LicenseIconv" Name="LICENSE.iconv" Source="Files\z3950\LICENSE.iconv" />
                <File Id="LicenseLibXml2" Name="LICENSE.libxml2" Source="Files\z3950\LICENSE.libxml2" />
                <File Id="LicenseYaz" Name="LICENSE.yaz" Source="Files\z3950\LICENSE.yaz" />
                <File Id="LicenseZlib" Name="LICENSE.zlib" Source="Files\z3950\LICENSE.zlib" />
                <File Id="LicenseZoomNet" Name="LICENSE.zoom.net" Source="Files\z3950\LICENSE.zoom.net" />
                <File Id="LicenseZoomNetYazSharp" Name="LICENSE.zoom.net.yazsharp" Source="Files\z3950\LICENSE.zoom.net.yazsharp" />
              </Component>
            </Directory>
          </Directory>
        </Directory>
			</Directory>
      <Directory Id="ProgramMenuFolder" Name="Programs">
          <Directory Id="ProgramMenuDir" Name="SobekCM">
            <Component Id="ProgramMenuDir" Guid="21B00667-1D09-490B-90C8-B910630154BF">
              <RemoveFolder Id='RemoveProgramMenuDir' Directory='ProgramMenuDir'  On='uninstall' />
              <RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]' Type='string' Value='' KeyPath='yes' />
            </Component>
          </Directory>
        </Directory>

      <Directory Id="DesktopFolder" Name="Desktop" />
    </Directory>

    <Feature Id="Complete" Title="SobekCM METS Editor" Description="Complete Package" Display="expand" Level="1" ConfigurableDirectory="INSTALLDIR">
		  <Feature Id="MainProgram" Title="SobekCM METS Editor Executables" Description="Main Executable" Level="1">
        <ComponentRef Id="MainExecutable" />
        <ComponentRef Id="MainExecutableConfig" />
        <ComponentRef Id="CustomGridHelperLibrary" />
        <ComponentRef Id="DlcToolsHelperLibrary" />
        <ComponentRef Id="SobekBibPackageHelperLibrary" />
        <ComponentRef Id="GemBoxSpreadsheetHelperLibrary" />
        <ComponentRef Id="MicrosoftApplicationBlocksData" />
        <ComponentRef Id="Z3950HelperLibraries" />
        <ComponentRef Id="SolrNetHelperLibraries" />
        <ComponentRef Id="GplLicense" />
        <ComponentRef Id="Readme" />
        <ComponentRef Id="AddOnsComponent" />
        <ComponentRef Id="ConfigComponent" />
        <ComponentRef Id="DataComponent" />
        <ComponentRef Id="ImagesComponent" />
        <ComponentRef Id="KakaduComponent" />
        <ComponentRef Id="ProjectsComponent" />
        <ComponentRef Id="TemplatesComponent" />
        <ComponentRef Id="Z3950LicensesComponent" />
        <ComponentRef Id="ProgramMenuDir" />
		  </Feature>
    </Feature>

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
    <UIRef Id="WixUI_InstallDir" />
    <UIRef Id="WixUI_ErrorProgressText" />

    <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />

    <Icon Id="App.ico" SourceFile="Files\App.ico" />
    <Property Id="ARPPRODUCTICON" Value="App.ico" />
    <Property Id="ARPHELPLINK" Value="http://ufdc.ufl.edu/metseditor" />


  </Product>
 
</Wix>
